<template>
    <div class="main"> 
        
        <div class="widget">
            <div class="title">User Profile</div>
            <div class="chart">
                <p>User Settings comes here</p>
            </div>   
        </div>
        <div class="widget">
            <div class="title">User Profile</div>
            <div class="chart">
                <p>User Settings comes here</p>
            </div>   
        </div>
        <div class="widget">
            <div class="title">User Profile</div>
            <div class="chart">
                <p>User Settings comes here</p>
            </div>   
        </div>
       
    </div>
</template>

<script src="./settings.ts"></script>