<template>
    <div class="main">

        <div class="widget">  
            <div class="title">Vehicles</div>          
            <div class="chart">
                
                <router-link to="/vehicle/new" :exact="true" class="btn-link">                    
                    <span><i class="material-icons">add_circle</i> </span><span class="icon-text"> Create</span>
                </router-link>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Features</th>
                            <th>Contact</th>
                            <th>Last Updated</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr v-for="vehicle in vehicles">
                            <td>{{ vehicle.make.name }}</td>
                            <td>{{ vehicle.model.name }}</td>
                            <td>
                                <span v-for="f in vehicle.features">
                                    {{ f.name }}
                                </span>
                            </td>
                            <td>{{ vehicle.contact.name }} | {{ vehicle.contact.email }} | {{ vehicle.contact.phone }}</td>
                            <td>{{ vehicle.lastUpdate }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>        

    </div>
</template>

<style>

</style>

<script src="./vehicle.ts"></script>