<link rel="stylesheet" href="./dashboard.css" />

<template>
    <div>

        <header-component></header-component>
        <sidebar-component></sidebar-component>
        
         <div class="main-content"> 

            <div class="content"> 
                <router-view></router-view>                
            </div> 
            
         </div>  
        
         <!-- <footer-component></footer-component>  -->

    </div>
</template>
<style>

</style>

<script src="./dashboard.ts"></script>